@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-primary: oklch(67% 0.057 165);
  --color-secondary: oklch(67% 0.057 165);
  --color-accent: oklch(80% 0.106 72);
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary-content: oklch(21% 0.006 56.043);
  --color-secondary-content: oklch(21% 0.006 56.043);
  --color-accent-content: oklch(21% 0.006 56.043);
  --color-neutral: oklch(56% 0.012 106.4);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-primary: oklch(75% 0.06 165);
  --color-secondary: oklch(75% 0.06 165);
  --color-accent: oklch(85% 0.11 72);
  --color-base-100: oklch(20% 0.01 240);
  --color-base-200: oklch(25% 0.01 240);
  --color-base-300: oklch(30% 0.01 240);
  --color-base-content: oklch(80% 0.01 240);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent-content: oklch(21% 0.006 56.043);
  --color-neutral: oklch(40% 0.01 240);
  --color-neutral-content: oklch(80% 0.01 240);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
